@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body{
  display: flexbox;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Crimson Text', serif;
  background-color: linear-gradient(125deg, rgb(237, 243, 255) 20%, rgb(156, 164, 176) 50%, rgb(166, 162, 214) 90%), rgb(140, 163, 207)
  
}

/* 
.qrx{
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
} */
.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  flex: 1 0 200px; /* Adjust the width as needed */
  max-width: 100%;
  height: auto;
  margin: 5px;
}
.copy-box {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
.copy-input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
}
footer{
  background-color: #1d2547;
}

 form{
  width: 35%;
  background-color: #fff;
  height: auto;
  padding: 3rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: aquamarine;
  
} 
 form h2{
  font-family: 'Crimson Text', serif;

} 
.navbar-nav .nav-item{
  margin-left: 2rem;
}

/* .formImg{
  background-image: url(./images/BG-IMG.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 30%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
} */

ul {
  list-style-type: none;
}
#regLink{
  padding: 1rem;
  margin-top: 1rem;
}
